{% extends "view/base.html" %}
{% block title %}About{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image: url( {{url_for("static",
  filename='view/images/bg_2.jpg' )}} );" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <h1 class="mb-3 bread">About Us</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i
                class="ion-ios-arrow-forward"></i></a></span> <span>About us <i
              class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>

<section style="margin: 100px;" class="ftco-section ftco-no-pt ftco-no-pb bg-light">
  <p> <strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore exercitationem consectetur officia
      corporis
      eveniet, nulla dicta mollitia maiores accusantium? Quisquam velit ab temporibus quidem dolores ducimus asperiores
      dolorem possimus. Tenetur delectus facilis consequuntur voluptas id ad mollitia magnam. Dolorum, ab quasi deserunt
      unde aut harum dolorem laudantium atque expedita ea exercitationem, minima libero? Ducimus exercitationem labore
      odio ratione pariatur? Quisquam praesentium voluptatem, impedit tempore fugiat soluta repellat necessitatibus quas
      accusantium exercitationem perspiciatis aliquid similique nemo excepturi, culpa ullam laborum, mollitia placeat
      vitae voluptates. Vero minima fuga recusandae? Culpa illum velit labore doloribus, aliquam quia sapiente quam?
      Aspernatur distincto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, unde consectetur ad
      voluptatum
      culpa ducimus voluptatem hic! Minima ipsa repellat ab ut vitae quam tempore odit sit necessitatibus numquam
      molestias at, tempora debitis, dolor, fugit eveniet a? A aut nobis rerum minus repudiandae veritatis debitis
      accusamus, nihil nam doloribus explicabo pariatur vitae consequuntur voluptates dicta aliquid autem
      necessitatibus,
      ducimus dolores modi officiis natus, facilis beatae? Nisi, quas. Minima, incidunt magnam assumenda ipsa ratione
      numquam eligendi quibusdam blanditiis consequatur repudiandae error quia modi eaque, praesentium excepturi atque
      quisquam expedita voluptate nemo ut corporis vitae culpa eius. Deserunt minus provident assumenda consectetur?
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, reiciendis debitis temporibus, nobis atque,
      ipsum quod minus facilis consequatur molestias eaque quos. Alias non quia iusto fuga animi suscipit nihil
      perspiciatis praesentium, id omnis consectetur porro earum dignissimos deserunt sequi odio aspernatur modi dicta
      tenetur? Voluptates, laudantium odit. Culpa dolores molestias iusto nobis commodi minima aliquam saepe sunt
      exercitationem debitis! Illum voluptas ullam, vitae facere voluptatibus error voluptates repellat, rerum suscipit
      iusto molestiae amet voluptatum sunt dolores. Quae dolores placeat nesciunt repudiandae. Ipsum, facere
      consectetur, et deserunt omnis sed possimus libero rerum asperiores vitae id. Consectetur similique officia, atque
      ipsam repellat delectus ullam. Ratione ipsum iste inventore quae. Placeat voluptatem modi corrupti nemo
      dignissimos. Eos, harum quae rem neque sunt totam voluptate impedit maiores soluta aperiam laudantium omnis, ullam
      laborum? Quod blanditiis vero facere minus rem, esse aut repellat culpa. Autem neque nesciunt tempora quisquam.
      Eum laborum numquam exercitationem quibusdam in. Ullam similique labore blanditiis hic earum numquam molestias sit
      fugiat repellendus nihil facilis amet delectus optio vitae explicabo, necessitatibus voluptas dolorem sequi sint
      aspernatur et officiis, exercitationem, commodi eos! Accusamus minima maiores voluptatem ratione optio impedit
      ipsam corrupti, eius fuga commodi qui possimus distinctio dolorum illo alias debitis? Beatae? </strong></p>
</section>

{% endblock %}