{% extends "view/base.html" %}
{% block title %} expert {% endblock %}
{% block head %}
 {{ super() }}

 <style>
 
 </style>
{% endblock %}

{% block content %}
{{ ckeditor.load() }}
    <!-- <section class="hero-wrap hero-wrap-2" style="background-image: url( {{ url_for("static", filename='view/images/bg_2.jpg')}} );" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread">Contact with expert</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Contact with expert <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section> -->
    <br><br><br>

    <div class="container">
        <h1>write your problem</h1>
        <form action="/write_problem/{{expert.1}}" method="post" id="expert" enctype="multipart/form-data">
          <!-- <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Problem details</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="problem" rows="8"></textarea>
          </div> -->
          {{ ckeditor.create() }}
          <div class="mb-3">
            <label for="formFile" class="form-label">problem image</label>
            <input class="form-control" name="image" type="file" id="formFile">
          </div>

          <button type="submit" class="btn btn-success btn-sm" form="expert">SEND</button>

        </form>
    </div>
    <div style="margin: 100px;">

    </div>


{% endblock %}