{% extends "admin/base.html" %}
{% block title %}product{% endblock %}
{% block content %}
<div class="main-panel">
    <div class="content-wrapper">

        <div class="row">
            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div
                            class="d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between flex-wrap mb-4">
                            <div>
                                <p class="mb-2 text-md-center text-lg-left">Total products</p>
                                <h1 class="mb-0">{{total_products[0]}}</h1>
                            </div>
                            <i class="typcn typcn-briefcase icon-xl text-secondary"></i>
                        </div>
                        <canvas id="expense-chart" height="80"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div
                            class="d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between flex-wrap mb-4">
                            <div>
                                <!-- <p class="mb-2 text-md-center text-lg-left">Add Expert</p> -->
                                <!-- <h1 class="mb-0">12</h1> -->
                                <a href="/add_product"><button class="btn btn-success">Add product</button></a>
                            </div>
                            <i class="typcn typcn-briefcase icon-xl text-secondary"></i>
                        </div>
                        <canvas id="expense-chart" height="80"></canvas>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="table-responsive pt-3">
                        <table class="table table-striped project-orders-table">
                            <thead>
                                <tr>
                                    <th class="ml-5">ID</th>
                                    <th>name</th>
                                    <th>image</th>
                                    <th>price</th>
                                    <th>Description</th>
                                    <th>date</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                <tr>
                                    <td>{{product.0}}</td>
                                    <td>{{product.1}}</td>
                                    <td>{{product.2}}</td>
                                    <td>{{product.3}}</td>
                                    <td>{{product.4}}</td>
                                    <td>{{product.5}}</td>
                                    <td><a href="/delete_product/{{product.0}}"><Button class="btn btn-danger">Delete</Button></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>


    {% endblock %}